<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <%- include("../../includes/dashboard_include/navbar.ejs") %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../partials/_settings-panel.html -->
                <div class="theme-setting-wrapper">
                    <div id="settings-trigger"><i class="ti-settings"></i></div>
                    <div id="theme-settings" class="settings-panel">
                        <i class="settings-close ti-close"></i>
                        <p class="settings-heading">SIDEBAR SKINS</p>
                        <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
                        <div class="sidebar-bg-options" id="sidebar-dark-theme">
                            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
                        <p class="settings-heading mt-2">HEADER SKINS</p>
                        <div class="color-tiles mx-0 px-4">
                            <div class="tiles success"></div>
                            <div class="tiles warning"></div>
                            <div class="tiles danger"></div>
                            <div class="tiles info"></div>
                            <div class="tiles dark"></div>
                            <div class="tiles default"></div>
                        </div>
                    </div>
                </div>

                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">VIEW EVENT</h4>
                                        <p class="card-description">
                                            MSRM <code>.MEDIA</code>
                                        </p>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <!-- <th>id</th>
                                                        <th>uuid</th> -->
                                                        <th>picture</th>
                                                        <th>event title</th>
                                                        <th>event description</th>
                                                        <th>location</th>
                                                        <th>body</th>
                                                        <th>createdAt</th>
                                                        <th>updatedAt</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <% for( let index = 0; index < retrieved_data.length; index++ ) { %>
                                                            <thead>
                                                                <tr>
                                                                    <!-- <td>
                                                                        <%= retrieved_data[index].id %>
                                                                    </td>
                                                                    <td>
                                                                        <%= retrieved_data[index].uuid %>
                                                                    </td> -->
                                                                    <td>
                                                                        <%= retrieved_data[index].picture %>
                                                                    </td>
                                                                    <td>
                                                                        <%= retrieved_data[index].ev_title %>
                                                                    </td>
                                                                    <td>
                                                                        <%= retrieved_data[index].ev_desc %>
                                                                    </td>
                                                                    <td>
                                                                        <%= retrieved_data[index].location %>
                                                                    </td>
                                                                    <td>
                                                                        <%= retrieved_data[index].body %>
                                                                    </td>
                                                                    <td>
                                                                        <%= new Date(retrieved_data[index].createdAt).toUTCString() %>
                                                                    </td>
                                                                    <td>
                                                                        <%= new Date(retrieved_data[index].updatedAt).toUTCString() %>
                                                                    </td>
                                                                    <td><a class="badge btn-success" href="/ved/<%=  retrieved_data[index].uuid %> ">view</a></td>
                                                                    <td><a class="badge btn-primary" href="/ede/<%=  retrieved_data[index].uuid %> ">edit</a></td>
                                                                    <td><a class="badge badge-danger" href="/de/<%= retrieved_data[index].uuid %> ">Delete</a></td>
                                                                </tr>
                                                            </thead>
                                                            <% } %>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- content-wrapper ends -->
                                        <!-- partial:../../partials/_footer.html -->
                                        <%- include("../../includes/dashboard_include/footer.ejs")  %>
                                            <!-- partial -->
                                    </div>
                                    <!-- main-panel ends -->
                                </div>
                                <!-- page-body-wrapper ends -->
                            </div>
                            <!-- container-scroller -->
                            <!-- plugins:js -->
                            <script src="../../vendors/js/vendor.bundle.base.js"></script>
                            <!-- endinject -->
                            <!-- Plugin js for this page -->
                            <!-- End plugin js for this page -->
                            <!-- inject:js -->
                            <script src="../../js/off-canvas.js"></script>
                            <script src="../../js/hoverable-collapse.js"></script>
                            <script src="../../js/template.js"></script>
                            <script src="../../js/settings.js"></script>
                            <script src="../../js/todolist.js"></script>
                            <!-- endinject -->
                            <!-- Custom js for this page-->
                            <!-- End custom js for this page-->
</body>

</html>